{% extends 'inicio/base2.html' %} {% block content %}
  <div class="d-flex justify-content-between align-items-center">
    <h1>Veterinaria: {{ solicitud.nombreVeterinaria }}</h1>
    <a href="/gestion-solicitudes/ver-solicitudes" class="btn btn-secondary btn-sm">Volver a la lista de solicitudes</a>
  </div>
  <hr />
    <div class="col-md-6">
      <div>
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"><h6>Propietario de Veterinaria:</h6></span>
          <label><b>{{ solicitud.nombreDueño }}</b></label><br />
        </div>
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"><h6>Correo:</h6></span>
          <textarea type="text" id="desc" class="form-control" readonly>{{ solicitud.correo }}</textarea>
        </div>
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"><h6>Telefono:</h6></span>
          <label><b>{{ solicitud.telefono }}</b></label>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
        <div class="form-check">
          <input type="radio" class="form-check-input" id="Check-Aprobado" name= "estado" value="Aprobado" required {% if solicitud.estado == "Aprobado" %} checked {% endif %}></input>
          <label class="form-check-label" for="Check-Aprobado">Aprobado</label>
        </div>
        <div class="form-check mb3">
          <input type="radio" class="form-check-input" id="Check-Rechazado" name= "estado" value="Rechazado" required {% if solicitud.estado == "Rechazado" %} checked {% endif %}></input>
          <label class="form-check-label" for="Check-Rechazado">Rechazado</label>
        </div>
        <div class="form-check mb3">
          <input type="radio" class="form-check-input" id="Check-Revision" name= "estado" value="Revision" required {% if solicitud.estado == "Revision" %} checked {% endif %}></input>
          <label class="form-check-label" for="Check-Revision">Revisión</label>
        </div>
        <input
        type="submit"
        method="POST"
        class="btn btn-primary btn-sm"
        value="Enviar"
      />
      </div>
    </form>
    </div>
  </div>
{% endblock %}
