{% extends "inicio/base2.html" %} {% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="text-center">
          <h1>Agregar Cita</h1>
        </div>
        <form method="post" id="form1" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group mb-3">
            <label for="form_name">Clinica*</label>
            <select id="clinica" name="clinica" class="form-control" required>
              <option value="{{ user.clinica.pk }}">{{ user.clinica.nombreClinica }}</option>
          </select>
          </div>
          <div class="form-group mb-3">
            <label for="form_name">Veterinario*</label>
            {% if user.role == "veterinario" %}
            <select id="veterinario" name="veterinario" class="form-control" required>
              {% for veterinario in veterinarios %}
              {% if user.pk == veterinario.usuario_id %}
              <option value="{{ veterinario.pk }}" selected>{{ veterinario }}</option>
              {% endif %}
              {% endfor %}
          </select>
          </div>
            {% else %}
            <select id="veterinario" name="veterinario" class="form-control" required>
              <option value="">Veterinario</option>
            {% for veterinario in veterinarios %}
              <option value="{{ veterinario.pk }}">{{ veterinario.pk }}:{{ veterinario }}</option>
            {% endfor %}
          </select>
          </div>
            {% endif %}
            
          <div class="form-group mb-3">
            <label for="form_name">Expediente*</label>
            <select id="expediente" name="expediente" class="form-control" required>
              <option value="">Expediente</option>
            {% for expediente in expedientes %}
              <option value="{{ expediente.pk }}">{{ expediente.pk }}:{{ expediente }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="form-group mb-3">
            <label for="form_name">Servicio*</label>
            <select id="servicio" name="servicio" class="form-control" required>
              <option value="">Seleccione un servicio</option>
            {% for servicio in servicios %}
              <option value="{{ servicio.pk }}">{{ servicio.nombreServicio }}</option>
            {% endfor %}
          </select>
          </div>
          <div class="form-group mb-3">
            <label for="form_message">Fecha *</label>
            <input
              id="fechaCita"
              name="fechaCita"
              type="date"
              class="form-control"
              required="required"
              data-error=""
            ></input>
          </div>
          <div class="form-group mb-3">
            <label for="form_message">Hora *</label>
            <input
              type="time"
              id="horaCita"
              value=""
              min="08:00"
              max="17:00"
              name="horaCita"
              step="900"
              class="form-control"
              required="required"
            />
          </div>
          <br />
          <div class="text-center">
            <a
              href="/gestion-citas/ver-lista"
              class="btn btn-secondary btn-sm"
              >Cancelar</a
            >
            <input
              type="submit"
              method="POST"
              class="btn btn-primary btn-sm"
              value="Guardar"
              onclick="validarForm()"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <script>
  function sumarDias(fecha, dias){
    fecha.setDate(fecha.getDate() + dias);
    return fecha;
  }
</script>
  <script>
    var date = new Date();
    var hour= date.getHours();
    if (hour>=17){
      date=sumarDias(date, 1)
    }
    var year = date.getFullYear();
    var month = String(date.getMonth()+1).padStart(2,'0');
    var todayDate = String(date.getDate()).padStart(2,'0');
    var datePattern = year + '-' + month + '-' + todayDate;
    document.getElementById("fechaCita").min = datePattern;

    function validarForm() {
            
            if (document.getElementById('form1').checkValidity()) {
                confirmarGuardar(event);
            } else {
                Swal.fire({
                    title: 'Error',
                    text: 'Por favor llenar todos los campos',
                    icon: 'error',
                });
            }
        }

    function confirmarGuardar(event) {
      event.preventDefault();
      Swal.fire({
        title: "¿Estás seguro de que desea guardar la informacion y agregar una Cita?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Sí, guardar",
        cancelButtonText: "Cancelar",
        reverseButtons: true,
        customClass: {
          confirmButton: "btn btn-danger mx-2",
          cancelButton: "btn btn-secondary mx-2",
        },
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('form1').submit();
        }
      });
    } 
  </script>

{% endblock %}