{% extends "inicio/base2.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Editar cita</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group mb-3">
          <label for="form_name">Clinica*</label>
          <select id="clinica" name="clinica" class="form-control" required>
            <option value="{{ user.clinica.pk }}">{{ user.clinica.nombreClinica }}</option>
        </select>
        </div>
        <div class="form-group mb-3">
          <label for="form_name">Veterinario*</label>
          <select id="veterinario" name="veterinario" class="form-control" required>
            {% for veterinario in veterinarios %}
            {% if user.role == "veterinario" %}
            {% if user.pk == veterinario.usuario_id %}
            <option value="{{ veterinario.pk }}" selected>{{ veterinario }}</option>
            {% endif %}
            {% else %}
            {% if veterinario.pk == veterinario.pk %}
            <option value="{{ veterinario.pk }}" selected>{{ veterinario }}</option>
            {% else %}
            <option value="{{ veterinario.pk }}">{{ veterinario }}</option>
            {% endif %}
            {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="form-group mb-3">
          <label for="form_name">Expediente*</label>
          <select id="expediente" name="expediente" class="form-control" required>
            {% for expediente in expedientes %}
            {% if expediente.pk == cita.expediente.pk %}
            <option value="{{ expediente.pk }}" selected>{{ expediente }}</option>
            {% else %}
            <option value="{{ expediente.pk }}">{{ expediente }}</option>
            {% endif %}
            {% endfor %}
        </select>
        </div>
        <div class="form-group mb-3">
          <label for="form_name">Servicio*</label>
          <select id="servicio" name="servicio" class="form-control" required>
          {% for servicio in servicios %}
          {% if servicio.pk == cita.servicio.pk %}
            <option value="{{ servicio.pk }}" selected>{{ servicio.nombreServicio }}</option>
          {% else %}
            <option value="{{ servicio.pk }}">{{ servicio.nombreServicio }}</option>
          {% endif %}
          {% endfor %}
        </select>
        </div>
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Fecha:</h6></span
          >
          <input
          id="fechaCita"
          name="fechaCita"
          type="date"
          class="form-control"
          required="required"
          data-error=""

          ></input>
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Hora:</h6></span
          >
          <input
          id="horaCita"
          name="horaCita"
          type="time"
          class="form-control"
          min="08:00"
          max="17:00"
          step="900"
          required="required"
          data-error=""
          /></input>
        </div>
        <br />
        <div class="text-center">
          <a href="/gestion-citas/ver-lista" class="btn btn-secondary btn-sm"
            >Cancelar</a
          >
          <input
            type="submit"
            method="POST"
            class="btn btn-primary btn-sm"
            value="Guardar"
          />
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/luxon@3.4.3/build/global/luxon.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
<script>
  var date = new Date();
  var year = date.getFullYear();
  var month = String(date.getMonth()+1).padStart(2,'0');
  var todayDate = String(date.getDate()).padStart(2,'0');
  var datePattern = year + '-' + month + '-' + todayDate;
  document.getElementById("fechaCita").min = datePattern;
</script>
<script>
  var convertedTime = moment("{{cita.horaCita}}", 'hh:mm A').format('HH:mm')
console.log(convertedTime);
document.getElementById("horaCita").value = convertedTime;
</script>

<script>
  let DateTime= luxon.DateTime;
  let fecha= "{{cita.fechaCita}}";
  fecha=fecha.split(",").join('');
  fecha=fecha.split(".").join('');
  fecha=fecha.split("  ").join(' ');
  year=DateTime.fromFormat(fecha,"LLL d yyyy",{locale:"es"}).toFormat("yyyy");
  month=DateTime.fromFormat(fecha,"LLL d yyyy",{locale:"es"}).toFormat("LL");
  day =DateTime.fromFormat(fecha,"LLL d yyyy",{locale:"es"}).toFormat("d");
  dia=parseInt(day);
  if(dia < 10){
    agenda= year + '-' + month + '-' +"0"+day;
  }
  else agenda= year + '-' + month + '-' +day;

  document.getElementById("fechaCita").value = agenda;
</script>

{% endblock %}
