{% extends "inicio/base2.html" %} {% block content %}
<a href="/gestion-citas/ver-lista" class="btn btn-secondary btn-sm"
>Volver al calendario</a
>
<div class="d-flex justify-content-between align-items-center">
  
  <div class="container">
    <div class="row">
    
      <div class="col-md-5 offset-md-3">  
        <div class="text-center">
  <h1>Día: {{ cita.fechaCita }} <br /> Hora: {{ cita.horaCita }}</h1>

</div>
<hr />

<div class="row mt-5">
  <div class="col-md-10">
    <div class="card mb-8">
      <div class="card-header">Datos de la Cita</div>
        <div class="m-3">
          <p><strong>Veterinario: </strong>{{ cita.veterinario }}</p>
        </div>
        <div class="m-3">
          <p><strong>Servicio: </strong>{{ cita.servicio.nombreServicio }} </p>
        </div>
        <div class="m-3">
          <p><strong>Expediente:  </strong>
        <a href="/gestion-expedientes/detalle/{{cita.expediente.id}}/" class="btn btn-primary btn-sm">{{ cita.expediente }}</a><p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8">
    <a href="/gestion-citas/editar-cita/{{ cita.id }}" class="btn btn-warning btn-sm">Editar Cita</a>
    <button onclick="confirmarEliminacion('{{ cita.fechaCita }}, {{cita.horaCita}}, {{ cita.id }}')" class="btn btn-danger btn-sm">Eliminar</button>
  </div>
</div>
  </div>
</div>
    </div>
  </div>
</div>
</div>

<script>
  function confirmarEliminacion(datoServicio) {
    var datos = datoServicio.split(', ')
    var fecha = datos[0]
    var anio= datos[1]
    var hora= datos[2]
    var id = datos[3]
  
    Swal.fire({
      title: '¿Estás seguro de que deseas eliminar la cita del dia ' + fecha +' del ' + anio+' a la hora ' +hora+'?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonText: 'Sí, eliminar',
      cancelButtonText: 'Cancelar',
      reverseButtons: true,
      customClass: {
        confirmButton: 'btn btn-danger mx-2',
        cancelButton: 'btn btn-secondary mx-2'
      }
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = '/gestion-citas/eliminar-cita/' + id
      }
    })
  }
</script>

{% endblock %}