{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h1>Agregar Medicamento</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.nombre.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.denominacion_comun.id_for_label }}">Denominación Común:</label>
                {{ form.denominacion_comun }}
                {% if form.denominacion_comun.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.denominacion_comun.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.forma_farmaceutica.id_for_label }}">Forma Farmacéutica:</label>
                {{ form.forma_farmaceutica }}
                {% if form.forma_farmaceutica.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.forma_farmaceutica.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.dosis.id_for_label }}">Dosis:</label>
                {{ form.dosis }}
                {% if form.dosis.errors %}
                  <div class "alert alert-danger">
                    {% for error in form.dosis.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.tamano.id_for_label }}">Tamaño:</label>
                {{ form.tamano }}
                {% if form.tamano.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.tamano.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.fabricante.id_for_label }}">Fabricante:</label>
                {{ form.fabricante }}
                {% if form.fabricante.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.fabricante.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.lote.id_for_label }}">Lote:</label>
                {{ form.lote }}
                {% if form.lote.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.lote.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.fecha_caducidad.id_for_label }}">Fecha de Caducidad:</label>
                {{ form.fecha_caducidad }}
                {% if form.fecha_caducidad.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.fecha_caducidad.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.condiciones_almacenamiento.id_for_label }}">Condiciones de Almacenamiento:</label>
                {{ form.condiciones_almacenamiento }}
                {% if form.condiciones_almacenamiento.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.condiciones_almacenamiento.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.cantidad_disponible.id_for_label }}">Cantidad Disponible:</label>
                {{ form.cantidad_disponible }}
                {% if form.cantidad_disponible.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.cantidad_disponible.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
                <div class="custom-file">
                  <input type="file" name="{{ form.imagen.name }}" id="{{ form.imagen.id_for_label }}" class="form-control" onchange="cargarVistaPrevia(event)" />
                  <label class="form-label" for="{{ form.imagen.id_for_label }}"></label>
                </div>
                {% if form.imagen.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.imagen.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <img src="#" class="img-fluid mt-3" alt="Vista previa de la imagen" style="max-width: 100px" id="vista-previa" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="{{ form.indicaciones.id_for_label }}">Indicaciones:</label>
                {{ form.indicaciones }}
                {% if form.indicaciones.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.indicaciones.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.contraindicaciones.id_for_label }}">Contraindicaciones:</label>
                {{ form.contraindicaciones }}
                {% if form.contraindicaciones.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.contraindicaciones.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.reacciones_adversas.id_for_label }}">Reacciones Adversas:</label>
                {{ form.reacciones_adversas }}
                {% if form.reacciones_adversas.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.reacciones_adversas.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <br />
          <div class="text-center">
            <a href="{% url 'moduloGestionMedicamentos:lista_medicamentos' %}" class="btn btn-secondary btn-sm">Cancelar</a>
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <script>
    function cargarVistaPrevia(event) {
      var input = event.target;
      var vistaPrevia = document.getElementById('vista-previa');
      var lector = new FileReader();
      lector.onload = function () {
        vistaPrevia.src = lector.result;
      };
      lector.readAsDataURL(input.files[0]);
      vistaPrevia.style.display = 'block';
    }
    var inputImagen = document.querySelector('input[name="{{ form.imagen.name }}"]');
    var vistaPrevia = document.getElementById('vista-previa');
    if (inputImagen && vistaPrevia) {
      vistaPrevia.style.display = 'none';
      inputImagen.addEventListener('change', cargarVistaPrevia);
    }
  </script>
{% endblock %}
