{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h1>{{ medicamento.nombre }}</h1>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a href="{% url 'moduloGestionMedicamentos:editar_medicamento' medicamento.pk %}" class="btn btn-warning btn-sm">Editar medicamento</a>
            <a href="{% url 'moduloGestionMedicamentos:lista_medicamentos' %}" class="btn btn-secondary btn-sm">Volver a la lista de medicamentos</a>
          </div>
        </div>
        <hr />
        <div class="row mt-4">
          <div class="col-md-4 mb-4">
            <img src="{{ medicamento.imagen.url }}" class="img-thumbnail" style="max-width: 300px" />
          </div>
          <div class="col-md-8 mb-4">
            <div>
              <h2>Detalles</h2>
              <table class="table">
                <tbody>
                  <tr>
                    <td>Nombre:</td>
                    <td>{{ medicamento.nombre }}</td>
                  </tr>
                  <tr>
                    <td>Denominación Común:</td>
                    <td>{{ medicamento.denominacion_comun }}</td>
                  </tr>
                  <tr>
                    <td>Forma Farmacéutica:</td>
                    <td>{{ medicamento.forma_farmaceutica }}</td>
                  </tr>
                  <tr>
                    <td>Dosis:</td>
                    <td>{{ medicamento.dosis }} tableta</td>
                  </tr>
                  <tr>
                    <td>Tamaño:</td>
                    <td>{{ medicamento.tamano }}</td>
                  </tr>
                  <tr>
                    <td>Fabricante:</td>
                    <td>{{ medicamento.fabricante }}</td>
                  </tr>
                  <tr>
                    <td>Lote:</td>
                    <td>{{ medicamento.lote }}</td>
                  </tr>
                  <tr>
                    <td>Fecha de Caducidad:</td>
                    <td>{{ medicamento.fecha_caducidad }}</td>
                  </tr>
                  <tr>
                    <td>Condiciones de Almacenamiento:</td>
                    <td>{{ medicamento.condiciones_almacenamiento }}</td>
                  </tr>
                  <tr>
                    <td>Cantidad Disponible:</td>
                    <td>{{ medicamento.cantidad_disponible }}</td>
                  <tr>
                    <td>Indicaciones:</td>
                    <td>{{ medicamento.indicaciones }}</td>
                  </tr>
                  <tr>
                    <td>Contraindicaciones:</td>
                    <td>{{ medicamento.contraindicaciones }}</td>
                  </tr>
                  <tr>
                    <td>Reacciones Adversas:</td>
                    <td>{{ medicamento.reacciones_adversas }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
