{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h1>Editar Medicamento</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                {{ form.nombre }}
                {% if form.nombre.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.nombre.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.descripcion.id_for_label }}">Descripción:</label>
                {{ form.descripcion }}
                {% if form.descripcion.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.descripcion.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group mb-3">
                <label for="{{ form.dosis.id_for_label }}">Dosis:</label>
                {{ form.dosis }}
                {% if form.dosis.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.dosis.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.frecuencia.id_for_label }}">Frecuencia:</label>
                {{ form.frecuencia }}
                {% if form.frecuencia.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.frecuencia.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.cantidad_disponible.id_for_label }}">Cantidad Disponible:</label>
                {{ form.cantidad_disponible }}
                {% if form.cantidad_disponible.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.cantidad_disponible.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>
              <div class="form-group mb-3">
                <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
                <div class="custom-file">
                  <input type="file" name="{{ form.imagen.name }}" id="{{ form.imagen.id_for_label }}" class="custom-file-input" onchange="cargarVistaPrevia(event)" />
                  <label class="custom-file-label" for="{{ form.imagen.id_for_label }}">Seleccionar imagen</label>
                </div>
                {% if form.imagen.errors %}
                  <div class="alert alert-danger">
                    {% for error in form.imagen.errors %}
                      {{ error }}
                    {% endfor %}
                  </div>
                {% endif %}
                <img src="{{ form.instance.imagen.url }}" class="img-fluid mt-3" alt="Vista previa de la imagen" style="max-width: 100px" id="vista-previa" />
              </div>
            </div>
          </div>
          <br />
          <div class="text-center">
            <a href="{% url 'moduloGestionMedicamentos:lista_medicamentos' %}" class="btn btn-secondary btn-sm">Cancelar</a>
            <button type="submit" class="btn btn-primary btn-sm">Guardar Cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <script>
    function cargarVistaPrevia(event) {
      var input = event.target;
      var vistaPrevia = document.getElementById('vista-previa');
      var lector = new FileReader();
      lector.onload = function () {
        vistaPrevia.src = lector.result;
      };
      lector.readAsDataURL(input.files[0]);
      vistaPrevia.style.display = 'block';
    }
    var inputImagen = document.querySelector('input[name="{{ form.imagen.name }}"]');
    var vistaPrevia = document.getElementById('vista-previa');
    if (inputImagen && vistaPrevia) {
      vistaPrevia.style.display = 'block';
      inputImagen.addEventListener('change', cargarVistaPrevia);
    }
  </script>
{% endblock %}
