{% extends "inicio/base2.html" %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Editar vetrinario</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Nombre:</h6></span
          >
          <input
            type="text"
            value="{{acc.nombre}}"
            class="form-control"
            name="nombre"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Apellido:</h6></span
          >
          <input
            type="text"
            value="{{acc.apellido}}"
            class="form-control"
            name="apellido"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Cargo:</h6></span
          >
          <input
            type="text"
            value="{{acc.cargo}}"
            class="form-control"
            name="cargo"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Email:</h6></span
          >
          <input
            type="text"
            value="{{acc.email}}"
            class="form-control"
            name="email"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Salario:</h6></span
          >
          <input
            type="text"
            value="{{acc.salario}}"
            class="form-control"
            name="salario"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Telefono:</h6></span
          >
          <input
            type="text"
            value="{{acc.telefono}}"
            class="form-control"
            name="telefono"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Direccion:</h6></span
          >
          <input
            type="text"
            value="{{acc.direccion}}"
            class="form-control"
            name="direccion"
            required
          />
        </div>
        <div class="mb-3">
          <br />
          <label for="" class="form-label">Foto de Perfil</label>
          <img
            src="{{acc.imagen.url}}"
            class="img-fluid"
            width="100"
            height="100"
            alt="Foto"
          />
          <input
            type="file"
            required
            name="imagen"
            enctype="multipart/form-data"
            value="{{acc.imagen}}"
          />
        </div>

        <div class="text-center">
          <a href="/gestion-vet/ver-lista" class="btn btn-secondary"
            >Cancelar</a
          >
          <button type="submit" method="POST" class="btn btn-primary">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
{% endblock %}
