{% extends 'inicio/base2.html' %} {% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ acc.nombre }} {{ acc.apellido }}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/gestion-vet/editar-vets/{{ acc.id }}" class="btn btn-warning btn-sm">Editar veterinario</a>
      <a href="/gestion-vet/ver-lista" class="btn btn-secondary btn-sm">Volver a la lista de médicos veterinarios</a>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <div class="col-md-6 mb-4">
      <img src="{{ acc.imagen.url }}" class="img-thumbnail" style="max-width: 300px" />
    </div>
    <div class="col-md-6 mb-4">
      <div>
        <h2>Detalles</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>Cargo:</td>
              <td>{{ acc.cargo }}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{ acc.email }}</td>
            </tr>
            <tr>
              <td>Salario:</td>
              <td>${{ acc.salario }}</td>
            </tr>
            <tr>
              <td>Teléfono:</td>
              <td>{{ acc.telefono }}</td>
            </tr>
            <tr>
              <td>Dirección:</td>
              <td>{{ acc.direccion }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
