{% extends "inicio/base2.html" %}

{% block content %}
<section class="vh-50" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Ver informacion de Medicos Veterinario</p>
                <div class="col-md-10 col-lg-6 col-xl-6 order-2">

                 
  
                  <div>
                    <div class="m-1">
                        <span class="badge rounded-pill bg-light text-dark"><h6>Nombre:</h6></span>
                        <input type="text" value="{{acc.nombre}}" class="form-control" name="nombre" readonly>
                        
                    </div>
                    <br>
                    <div class="m-1">
                        <span class="badge rounded-pill bg-light text-dark"><h6>Apellido:</h6></span>
                        <input type="text" value="{{acc.apellido}}" class="form-control" name="apellido" readonly>
              
                    </div>
                    <br>
                    <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Cargo:</h6></span>
                      <input type="text" value="{{acc.cargo}}" class="form-control" name="cargo" readonly>
                      
                    </div>
                    <br>
                    <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Email:</h6></span>
                      <input type="text" value="{{acc.email}}" class="form-control" name="email" readonly>
                      
                    </div>
                    <br>
                    <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Salario:</h6></span>
                      <input type="text" value="{{acc.salario}}" class="form-control" name="salario" readonly>
                      
                    </div>
                    <br>
                    <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Telefono:</h6></span>
                      <input type="text" value="{{acc.telefono}}" class="form-control" name="telefono" readonly>
                      
                    </div>
                    <br>
                    <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Direccion:</h6></span>
                      <input type="text" value="{{acc.direccion}}" class="form-control" name="direccion" readonly>
                      
                    </div>
                    <div class="mb-3">
                      <br>
                      <label for="" class="form-label">Foto de Perfil</label>
                      <img src={{acc.imagen.url}} class="img-fluid" width="500" height="600" alt="Foto">
                      
                  </div>
                  <a href="/gestion-vet/editar-vets/{{acc.id}}" class="btn btn-secondary">Editar</a>
                <a class="btn btn-danger" onclick="history.back()">Volver </a>





                
               
              </div>
              <!--
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}