{% extends 'inicio/base2.html' %}
{% block content %}
  <div class="container">
    <h1>Informe de Pacientes</h1>
    <div class="row">
      {% if messages %}
        <div class="alert alert-dismissible fade show" role="alert">
          {% for message in messages %}
            {% if message.tags == 'error' %}
              <div class="alert alert-danger">{{ message }}</div>
            {% endif %}
            {% if message.tags == 'success' %}
              <div class="alert alert-success">{{ message }}</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% if pacientes %}
      <div class="row">
        <div class="col">
          <!-- Mostrar la tabla de médicos veterinarios si existen registros -->
          <div class="d-flex justify-content-between align-items-center">
            <h2>Tabla de Pacientes</h2>
            <a href="{% url 'generar_informe_pacientes' %}?download_pdf=in=1" class="btn btn-primary btn-sm">Descargar informe PDF</a>
          </div>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre del Paciente</th>
                  <th>Especie</th>
                  <th>Raza</th>
                  <th>Sexo</th>
                  <th>Fecha de Nacimiento</th>
                  <th>Edad</th>
                  <th>Color</th>
                  <th>Peso</th>
                  <th>Dueño</th>
                  <th>Clínica</th>
                </tr>
              </thead>
              <tbody>
              {% for paciente in pacientes %}
                <tr>
                  <td>{{ paciente.id }}</td>
                  <td>{{ paciente.nombre_paciente }}</td>
                  <td>{{ paciente.especie }}</td>
                  <td>{{ paciente.raza }}</td>
                  <td>{{ paciente.sexo }}</td>
                  <td>{{ paciente.fecha_nacimiento }}</td>
                  <td>{{ paciente.edad }}</td>
                  <td>{{ paciente.color }}</td>
                  <td>{{ paciente.peso }} kg</td>
                  <td>{{ paciente.nombre_dueño }} {{ paciente.apellido_dueño }}</td>
                  <td>{{ paciente.clinica.nombreClinica }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}
