{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h1>Agregar Veterinario</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-header">Datos del Veterinario</div>
                <div class="card-body">
                  <div class="form-group mb-3">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" class="form-control" value="{{ request.POST.nombre }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" name="apellido" class="form-control" value="{{ request.POST.apellido }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" value="{{ request.POST.email }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="cargo">Cargo en la Clínica:</label>
                    <input type="text" id="cargo" name="cargo" class="form-control" value="{{ request.POST.cargo }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="salario">Salario:</label>
                    <input type="text" id="salario" name="salario" class="form-control" value="{{ request.POST.salario }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="telefono">Número de Teléfono:</label>
                    <input type="text" id="telefono" name="telefono" class="form-control" value="{{ request.POST.telefono }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="direccion">Dirección:</label>
                    <input type="text" id="direccion" name="direccion" class="form-control" value="{{ request.POST.direccion }}" />
                  </div>
                  <div class="form-group mb-3">
                    <label for="imagen">Foto de Perfil:</label>
                    <input type="file" id="imagen" name="imagen" class="form-control" accept="image/*" onchange="cargarVistaPrevia(event)" />
                  </div>
                  <div class="form-group mb-3">
                    <img src="#" class="img-fluid mt-3" alt="Vista previa de la imagen" style="max-width: 100px" id="vista-previa" />
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-header">Datos de Usuario</div>
                <div class="card-body">
                  <div class="mb-3">
                    <label for="id_username" class="form-label">Nombre de usuario:</label>
                    <input type="text" name="username" class="form-control" id="id_username" value="{{ request.POST.username }}" />
                    {% if formReg.username.errors %}
                      <div class="alert alert-danger">
                        {% for error in formReg.username.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    <label for="id_password1" class="form-label">Contraseña:</label>
                    <input type="password" name="password1" class="form-control" id="id_password1" />
                    {% if formReg.password1.errors %}
                      <div class="alert alert-danger">
                        {% for error in formReg.password1.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="mb-3">
                    <label for="id_password2" class="form-label">Confirmar contraseña:</label>
                    <input type="password" name="password2" class="form-control" id="id_password2" />
                    {% if formReg.password2.errors %}
                      <div class="alert alert-danger">
                        {% for error in formReg.password2.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="/gestion-veterinarios/ver-lista" class="btn btn-secondary btn-sm">Cancelar</a>
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br />
  <script>
    function cargarVistaPrevia(event) {
      var input = event.target
      var vistaPrevia = document.getElementById('vista-previa')
      var lector = new FileReader()
      lector.onload = function () {
        vistaPrevia.src = lector.result
      }
      lector.readAsDataURL(input.files[0])
      vistaPrevia.style.display = 'block'
    }
    
    var inputImagen = document.querySelector('input[name="imagen"]')
    var vistaPrevia = document.getElementById('vista-previa')
    if (inputImagen && vistaPrevia) {
      vistaPrevia.style.display = 'none'
      inputImagen.addEventListener('change', cargarVistaPrevia)
    }
  </script>
{% endblock %}
