{% extends "inicio/base2.html" %}

{% block content %}
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrar Clinicas</p>

                <form id="contact-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
                  

                  <div class="controls">
      
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="form_name">Nombre de la Clinica *</label>
                                  <input id="form_name" type="text" name="nombre" class="form-control" placeholder="" required="required" data-error="El nombre es requerido.">
                                  
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="form_lastname">Numero de registro *</label>
                                  <input id="form_lastname" type="text" name="numeroReg" class="form-control" placeholder="" required="required" data-error="El numero de registro es requerido">
                                                                  </div>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="form_email">Años en funcionamiento</label>
                                  <input id="form_email" type="text" name="anios" class="form-control" placeholder="" required="required" data-error="Este campo es requerido">
                                  
                              </div>
                          </div>
                        <!--
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label for="form_need">Please specify your need *</label>
                                  <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                      <option value="" selected disabled>--Select Your Issue--</option>
                                      <option >Request Invoice for order</option>
                                      <option >Request order status</option>
                                      <option >Haven't received cashback yet</option>
                                      <option >Other</option>
                                  </select>
                                  
                              </div>
                          </div>
                      </div>
                      -->
                      <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="form_message">Descripcion general de la Clinica veterinaria *</label>
                                  <textarea id="form_message" name="descripcion" class="form-control" placeholder="Escribe la descripcion aqui." rows="4" required="required" data-error=""></textarea
                                      >
                              </div>
                              <label for="form_message">Localizacion de la Clinica veterinaria *</label>
                              <div id="map" style="height: 200px;"></div>
                          </div>
              
                          <input id="latitude" type="text" name="lat"  placeholder="13.6975" readonly>
                          <input id="longitude" type="text" name="lng" placeholder="-89.1911" readonly>
                          <script>
                            function initMap() {
                                const initialLocation = { lat: 13.6975, lng: -89.1911 }; // Initial location coordinates
                    
                                const map = new google.maps.Map(document.getElementById('map'), {
                                    center: initialLocation,
                                    zoom: 15
                                });
                    
                                const latitudeInput = document.getElementById('latitude');
                                const longitudeInput = document.getElementById('longitude');
                    
                                const marker = new google.maps.Marker({
                                    position: initialLocation,
                                    map: map,
                                    draggable: true
                                });
                    
                                google.maps.event.addListener(marker, 'dragend', function(event) {
                                    latitudeInput.value = event.latLng.lat();
                                    longitudeInput.value = event.latLng.lng();
                                });
                    
                                google.maps.event.addListener(map, 'click', function(event) {
                                    marker.setPosition(event.latLng);
                                    latitudeInput.value = event.latLng.lat();
                                    longitudeInput.value = event.latLng.lng();
                                });
                            }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"></script>
                        <div class="mb-3">
                          <label for="" class="form-label">Logo de la compañia</label>
                          <input type="file" Required name="logoC" enctype="multipart/form-data">
                      </div>

                            
      
      
                      <div class="col-md-12">
           
                              <input type="submit" method="POST" class="btn btn-success btn-send  pt-2 btn-block
                                  " value="Guardar Datos" >
                                  <input class="btn btn-danger btn-send  pt-2 btn-block" onclick="history.back()" value="Volver" >
                          
                      </div>
                
                    </div>
      
      
              </div>
               </form>
                
                    
                    
               
              </div>
              <!--
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  
</section>


{% endblock %}