{% extends "inicio/base2.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Editar clínica</h1>
      </div>
      <form method="post" id="form1" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Nombre de la Clinica:</h6></span
          >
          <input
            type="text"
            value="{{acceso.nombreClinica}}"
            class="form-control"
            name="nombre"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Numero de Registro:</h6></span
          >
          <input
            type="text"
            value="{{acceso.numeroRegistro}}"
            class="form-control"
            name="registro"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Años en Funcionamiento:</h6></span
          >

          <select class="form-control" name="anios" required>
            <option>{{acceso.aniosFuncionando}}</option>

            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
          </select>
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Descripcion de la Clinica:</h6></span
          >
          <textarea class="form-control" rows="4" name="descripcion" required>
 {{acceso.descripcion}} </textarea
          >
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Localizacion de la Clinica:</h6></span
          >
          <div id="map" style="height: 200px"></div>
          <input
            id="latitude"
            type="text"
            name="lat"
            value="{{acceso.ubicacionLat}}"
          />
          <input
            id="longitude"
            type="text"
            name="lng"
            value="{{acceso.ubicacionLng}}"
          />
          <script>
            function initMap() {
              const initialLocation = { lat: 13.6975, lng: -89.1911 }; // Initial location coordinates

              const map = new google.maps.Map(document.getElementById("map"), {
                center: initialLocation,
                zoom: 15,
              });

              const latitudeInput = document.getElementById("latitude");
              const longitudeInput = document.getElementById("longitude");

              const marker = new google.maps.Marker({
                position: initialLocation,
                map: map,
                draggable: true,
              });

              google.maps.event.addListener(
                marker,
                "dragend",
                function (event) {
                  latitudeInput.value = event.latLng.lat();
                  longitudeInput.value = event.latLng.lng();
                }
              );

              google.maps.event.addListener(map, "click", function (event) {
                marker.setPosition(event.latLng);
                latitudeInput.value = event.latLng.lat();
                longitudeInput.value = event.latLng.lng();
              });
            }
          </script>
          <script
            async
            defer
            src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"
          ></script>
          <br />
          <div class="mb-3">
            <br />
            <label for="" class="form-label">Logo de la compañia</label>
            <img
              src="{{acceso.logo.url}}"
              class="img-fluid"
              width="100"
              height="100"
              alt="Logo de la Clinica"
            />
            <input
              type="file"
              required
              name="logo"
              enctype="multipart/form-data"
              value="{{acceso.logo}}"
            />
          </div>
        </div>
        <div class="text-center">
          <a href="/gestion-clinicas/ver-clinicas" class="btn btn-secondary btn-sm"
            >Cancelar</a
          >
          <input
            type="submit"
            onclick="validarForm()"
            method="POST"
            class="btn btn-primary btn-sm"
            value="Guardar"
          />
        </div>
        <br />
      </form>
    </div>
  </div>
</div>
<script>
  function validarForm() {
            
            if (document.getElementById('form1').checkValidity()) {
                confirmarGuardar(event);
            } else {
                Swal.fire({
                    title: 'Error',
                    text: 'Por favor llenar todos los campos',
                    icon: 'error',
                });
            }
        }

    
    function confirmarGuardar(event) {
      event.preventDefault();
      Swal.fire({
        title: "¿Estás seguro de que deseas editar la clinica?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonText: "Sí, guardar",
        cancelButtonText: "Cancelar",
        reverseButtons: true,
        customClass: {
          confirmButton: "btn btn-danger mx-2",
          cancelButton: "btn btn-secondary mx-2",
        },
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('form1').submit();
        }
      });
    } 
</script>
{% endblock %}
