{% extends "inicio/base2.html" %}

{% block content %}
<section class="vw-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <form id="contact-form" method="POST" enctype="multipart/form-data">{% csrf_token %}
              <div class="col-md-10 col-lg-6 col-xl-6 order-2">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Editar Informacion de Clinica</p>

                <div>
                  <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Nombre de la Clinica:</h6></span>
                      <input type="text" value="{{acceso.nombreClinica}}" class="form-control" name="nombre" required>
                      
                  </div>
                  <br>
                  <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Numero de Registro:</h6></span>
                      <input type="text" value="{{acceso.numeroRegistro}}" class="form-control" name="registro" required>
            
                  </div>
                  <br>
                  <div class="m-1">
                      <span class="badge rounded-pill bg-light text-dark"><h6>Años en Funcionamiento:</h6></span>
          
                      <select class="form-control" name="anios" required>
                 
                        <option> {{acceso.aniosFuncionando}} </option>
                        
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                        <option>11</option>
                        <option>12</option>
                        <option>13</option>
                        <option>14</option>
                        <option>15</option>
                        
                      </select>
                  </div>
                  <br>
                  <div class="m-1">
                    <span class="badge rounded-pill bg-light text-dark"><h6>Descripcion de la Clinica:</h6></span>
                    <textarea class="form-control" rows="4" name="descripcion" required> {{acceso.descripcion}} </textarea>
                    
                    
                  </div>
                  <br>
                 </div>
                 <div class="m-1">
                  <span class="badge rounded-pill bg-light text-dark"><h6>Localizacion de la Clinica:</h6></span>
                  <div id="map" style="height: 200px;"></div>
                  <input id="latitude" type="text" name="lat"  value={{acceso.ubicacionLat}} >
                          <input id="longitude" type="text" name="lng" value={{acceso.ubicacionLng}}>
                          <script>
                            function initMap() {
                                const initialLocation = { lat: 13.6975, lng: -89.1911 }; // Initial location coordinates
                    
                                const map = new google.maps.Map(document.getElementById('map'), {
                                    center: initialLocation,
                                    zoom: 15
                                });
                    
                                const latitudeInput = document.getElementById('latitude');
                                const longitudeInput = document.getElementById('longitude');
                    
                                const marker = new google.maps.Marker({
                                    position: initialLocation,
                                    map: map,
                                    draggable: true
                                });
                    
                                google.maps.event.addListener(marker, 'dragend', function(event) {
                                    latitudeInput.value = event.latLng.lat();
                                    longitudeInput.value = event.latLng.lng();
                                });
                    
                                google.maps.event.addListener(map, 'click', function(event) {
                                    marker.setPosition(event.latLng);
                                    latitudeInput.value = event.latLng.lat();
                                    longitudeInput.value = event.latLng.lng();
                                });
                            }
                        </script>
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=&libraries=places&callback=initMap"></script>
                        <br>
                        <div class="mb-3">
                          <br>
                          <label for="" class="form-label">Logo de la compañia</label>
                          <img src={{acceso.logo.url}} class="img-fluid" width="500" height="600" alt="Logo de la Clinica">
                          <input type="file" Required name="logo" enctype="multipart/form-data" value="{{acceso.logo}}">
                      </div>
                 
                </div>
               
              </div>
              <div class="col-md-12">
           
                <input type="submit" method="POST" class="btn btn-success btn-send  pt-2 btn-block" value="Guardar Datos" >
                <input class="btn btn-danger btn-send  pt-2 btn-block" onclick="history.back()" value="Volver" >
            
              </div>
              </form>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}