{% extends "inicio/base2.html" %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h1>Información de la clínica</h1>
  <a href="/gestion-clinicas/ver-clinicas" class="btn btn-secondary btn-sm">Volver a la lista de clínicas</a>
</div>
<hr />
<div class="row">
  <div class="col-md-6">
    <img src="{{ acceso.logo.url }}" class="img-thumbnail" style="max-width: 300px"/>
  </div>
  <div class="col-md-6">
    <div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"><h6>Nombre de la clínica:</h6></span>
        <label><b>{{ acceso.nombreClinica }}</b></label><br>
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"><h6>Número de registro:</h6></span>
        <label><b>{{ acceso.numeroRegistro }}</b></label><br>
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"><h6>Años en funcionamiento:</h6></span>
        <label><b>{{ acceso.aniosFuncionando }}</b></label>
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"><h6>Descripción de la clínica:</h6></span>
        <textarea type="text" id="desc" class="form-control" readonly>{{ acceso.descripcion }}</textarea>
        <label><b></b></label>
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"><h6>Localización de la clínica:</h6></span>
        <div class="col">
          <input type="text" id="myLat" hidden value="{{ acceso.ubicacionLat }}">
          <input type="text" id="myLng" hidden value="{{ acceso.ubicacionLng }}">
          <div id="map2" style="width: 100%; height: 200px;"></div>
          <script>
            function initMap() {
              var myLat = document.getElementById("myLat").value;
              var myLng = document.getElementById("myLng").value;
              var lat = parseFloat(myLat);
              var lng = parseFloat(myLng);
  
              var test = {lat: lat, lng: lng};
              var map = new google.maps.Map(document.getElementById('map2'), {
                zoom: 15,
                center: test
              });
              var marker = new google.maps.Marker({
                position: test,
                map: map
              });
            }
          </script>
          <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
        </div>
      </div>
      <a href="/gestion-clinicas/editar-clinica/{{ acceso.id }}" class="btn btn-warning btn-sm">Editar</a>
    </div>
  </div>
</div>
{% endblock %}