{% extends "inicio/base2.html" %} {% block content %}

<div class="d-flex justify-content-between align-items-center">
  <h1 class="mb-0">Lista de Usuarios registrados en el sistema</h1>
  <a href="/cuentas/registro" class="btn btn-success btn-sm"
    >Crear Usuario</a
  >
</div>
<hr />
<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nombre de Usuario</th>
      <th>Cargo</th>
      <th>Activo</th>
      <th>Clinica</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cl in acceso %}
 
    
    <tr>
      <td>{{ cl.pk }}</td>
      <td>{{ cl.first_name }}</td>
      <td>{{ cl.last_name }}</td>
      <td>{{ cl.username }}</td>
      <td>{{ cl.role }}</td>
      <td>Si</td>
      <td>{{ cl.clinica.nombreClinica }}</td>
      <td>
        
        <a
          href="/cuentas/editar-usuario/{{cl.id}}"
          class="btn btn-primary btn-sm"
          >Editar</a
        >
        <button
          onclick="confirmarEliminacion({{ cl.pk }})"
          class="btn btn-danger btn-sm"
        >
          Eliminar
        </button>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
<script>
  function confirmarEliminacion(pk) {
    Swal.fire({
      title: "¿Estás seguro de que deseas eliminar este usuario?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
      reverseButtons: true,
      customClass: {
        confirmButton: "btn btn-danger mx-2",
        cancelButton: "btn btn-secondary mx-2",
      },
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "eliminar/" + pk;
      }
    });
  }
</script>
{% endblock %}
