{% extends "inicio/base.html" %}

{% block content %}
  <h1>Crear empleado</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
      {{ form.nombre }}
    </div>
    <div class="form-group">
      <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
      {{ form.apellido }}
    </div>
    <div class="form-group">
      <label for="{{ form.salario.id_for_label }}">Salario:</label>
      {{ form.salario }}
    </div>
    <div class="form-group">
      <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
      {{ form.direccion }}
    </div>
    <div class="form-group">
      <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
      {{ form.telefono }}
    </div>
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
      {{ form.email }}
    </div>
    <div class="form-group">
      <label for="{{ form.cargo.id_for_label }}">Cargo:</label>
      {{ form.cargo }}
    </div>
    <div class="form-group">
      <label for="{{ form.imagen.id_for_label }}">Imagen:</label>
      {{ form.imagen }}
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
  </form>
{% endblock %}