{% extends 'inicio/base2.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center mb-4">
        <h1>Agregar Empleado</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-header">Datos del empleado</div>
              <div class="card-body">
                <div class="form-group mb-3">
                  <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
                  {{ form.nombre }} {% if form.nombre.errors %}
                    <div class="alert alert-danger">
                      {% for error in form.nombre.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group mb-3">
                  <label for="{{ form.apellido.id_for_label }}">Apellido:</label>
                  {{ form.apellido }} {% if form.apellido.errors %}
                    <div class="alert alert-danger">
                      {% for error in form.apellido.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group mb-3">
                  <label for="{{ form.salario.id_for_label }}">Salario:</label>
                  {{ form.salario }} {% if form.salario.errors %}
                    <div class="alert alert-danger">
                      {% for error in form.salario.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group mb-3">
                  <label for="{{ form.cargo.id_for_label }}">Cargo:</label>
                  {{ form.cargo }}{% if form.cargo.errors %}
                    <div class="alert alert-danger">
                      {% for error in form.cargo.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="col-md-12">
                  <div class="form-group mb-3">
                    <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                    {{ form.direccion }} {% if form.direccion.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.direccion.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.telefono.id_for_label }}">Teléfono:</label>
                    {{ form.telefono }} {% if form.telefono.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.telefono.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.email.id_for_label }}">Correo electrónico:</label>
                    {{ form.email }} {% if form.email.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.email.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.imagen.id_for_label }}">Imagen</label>
                    <div class="custom-file">
                      <input type="file" name="{{ form.imagen.name }}" id="{{ form.imagen.id_for_label }}" class="custom-file-input" onchange="cargarVistaPrevia(event)" />
                      <label class="custom-file-label" for="{{ form.imagen.id_for_label }}"></label>
                    </div>
                    {% if form.imagen.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.imagen.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %} {% if form.imagen.value %}
                      <img src="{{ form.imagen.value.url }}" class="img-fluid mt-3" alt="{{ form.imagen.label }}" style="max-width: 100px" id="vista-previa" />
                    {% else %}
                      <img src="#" class="img-fluid mt-3" alt="Vista previa de la imagen" style="max-width: 100px" id="vista-previa" />
                    {% endif %}
                  </div>
              </div>
              




              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-header">Datos de Usuario</div>
              <div class="card-body">
                <div class="mb-3">
                  <label for="id_username" class="form-label">Nombre de usuario:</label>
                  <input required type="text" name="username" class="form-control" id="id_username" value="{{ request.POST.username }}" />
                  {% if formReg.username.errors %}
                    <div class="alert alert-danger">
                      {% for error in formReg.username.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="mb-3">
                  <label for="id_password1" class="form-label">Contraseña:</label>
                  <input required type="password" name="password1" class="form-control" id="id_password1" />
                  {% if formReg.password1.errors %}
                    <div class="alert alert-danger">
                      {% for error in formReg.password1.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="mb-3">
                  <label for="id_password2" class="form-label">Confirmar contraseña:</label>
                  <input required type="password" name="password2" class="form-control" id="id_password2" />
                  {% if formReg.password2.errors %}
                    <div class="alert alert-danger">
                      {% for error in formReg.password2.errors %}
                        {{ error }}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <a href="/gestion-veterinarios/ver-lista" class="btn btn-secondary btn-sm">Cancelar</a>
          <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
  <script>
    function cargarVistaPrevia(event) {
      var input = event.target
      var vistaPrevia = document.getElementById('vista-previa')
      var lector = new FileReader()
      lector.onload = function () {
        vistaPrevia.src = lector.result
      }
      lector.readAsDataURL(input.files[0])
      vistaPrevia.style.display = 'block'
    }
    var inputImagen = document.querySelector('input[name="imagen"]')
    var vistaPrevia = document.getElementById('vista-previa')
    if (inputImagen && vistaPrevia) {
      vistaPrevia.style.display = 'none'
      inputImagen.addEventListener('change', cargarVistaPrevia)
    }
  </script>
{% endblock %}
