{% extends 'inicio/base2.html' %} {% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ empleado.nombre }} {{ empleado.apellido }}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'moduloGestionEmpleados:editar_empleado' empleado.pk %}" class="btn btn-warning btn-sm">Editar empleado</a>
      <a href="{% url 'moduloGestionEmpleados:lista_empleados' %}" class="btn btn-secondary btn-sm">Volver a la lista de empleados</a>
    </div>
  </div>
  <hr />
  <div class="row mt-4">
    <div class="col-md-6 mb-4">
      <img src="{{ empleado.imagen.url }}" class="img-thumbnail" style="max-width: 300px" />
    </div>
    <div class="col-md-6 mb-4">
      <div>
        <h2>Detalles</h2>
        <table class="table">
          <tbody>
            <tr>
              <td>Cargo:</td>
              <td>{{ empleado.cargo }}</td>
            </tr>
            <tr>
              <td>Salario:</td>
              <td>${{ empleado.salario }}</td>
            </tr>
            <tr>
              <td>Dirección:</td>
              <td>{{ empleado.direccion }}</td>
            </tr>
            <tr>
              <td>Teléfono:</td>
              <td>{{ empleado.telefono }}</td>
            </tr>
            <tr>
              <td>Correo electrónico:</td>
              <td>{{ empleado.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
