{% extends 'inicio/base2.html' %} {% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h1 class="mb-0">Eliminar Empleado</h1>
  <a
    href="{% url 'moduloGestionEmpleados:lista_empleados' %}"
    class="btn btn-secondary"
    >Volver a la lista de empleados</a
  >
</div>
<hr />
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.empleado.id_for_label }}">Empleado:</label>
    {{ form.empleado }}
  </div>
  <div class="text-center">
    <button
      type="submit"
      class="btn btn-danger"
      onclick="return confirmarEliminacion()"
    >
      Eliminar
    </button>
  </div>
</form>

<script>
  function confirmarEliminacion(pk) {
    Swal.fire({
      title: "¿Estás seguro de que deseas eliminar este empleado?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonText: "Sí, eliminar",
      cancelButtonText: "Cancelar",
      reverseButtons: true,
      customClass: {
        confirmButton: "btn btn-danger mx-2",
        cancelButton: "btn btn-secondary mx-2",
      },
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "eliminar/" + pk + "/";
      }
    });
  }
</script>
{% endblock %}
