{% extends 'inicio/base2.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center mb-4">
        <h1>Editar Consulta</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if consulta_form.errors %}
        <div class="alert alert-danger">
          <h5>Por favor, corrija los siguientes errores:</h5>
          <ul>
            {% for field, error_list in consulta_form.errors.items %}
            {% for error in error_list %}
            <li>{{ field|title }}: {{ error }}</li>
            {% endfor %}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="row">
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-header">Datos de la Consulta</div>
              <div class="card-body">
                <div class="form-group mb-3">
                  <label for="tipo_consulta">Tipo de consulta:</label>
                  <select id="tipo_consulta" name="tipo_consulta" class="form-control" required>
                    <option value="">Seleccione un tipo de consulta</option>
                    {% for tipo_consulta in tipo_consultas %}
                    {% if tipo_consulta.pk == consulta.tipo_consulta.pk %}
                    <option value="{{ tipo_consulta.pk }}" selected>{{ tipo_consulta }}</option>
                    {% else %}
                    <option value="{{ tipo_consulta.pk }}">{{ tipo_consulta }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="motivo">Motivo:</label>
                  <textarea id="motivo" name="motivo" class="form-control">{{ consulta.motivo }}</textarea>
                </div>
                <div class="form-group mb-3">
                  <label for="diagnostico">Diagnóstico:</label>
                  <textarea id="diagnostico" name="diagnostico" class="form-control">{{ consulta.diagnostico }}</textarea>
                </div>                
                <div class="form-group mb-3">
                  <label for="expediente">Expediente:</label>
                  <select id="expediente" name="expediente" class="form-control" required>
                    <option value="">Seleccione un expediente</option>
                    {% for expediente in expedientes %}
                    {% if expediente.pk == consulta.expediente.pk %}
                    <option value="{{ expediente.pk }}" selected>{{ expediente }}</option>
                    {% else %}
                    <option value="{{ expediente.pk }}">{{ expediente }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mb-3">
                  <label for="veterinario">Veterinario:</label>
                  <select id="veterinario" name="veterinario" class="form-control" required>
                    <option value="">Seleccione un veterinario</option>
                    {% for veterinario in veterinarios %}
                    {% if veterinario.pk == consulta.veterinario.pk %}
                    <option value="{{ veterinario.pk }}" selected>{{ veterinario }}</option>
                    {% else %}
                    <option value="{{ veterinario.pk }}">{{ veterinario }}</option>
                    {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="card-header">Medicamentos Utilizados</div>
              <div class="card-body" id="medicamentos-section">
                {% for consulta_medicamento in consulta.consultamedicamento_set.all %}
                <div class="medicamento-group">
                  <div class="form-group mb-3">
                    <label for="medicamento_{{ consulta_medicamento.pk }}">Medicamento:</label>
                    <select id="medicamento_{{ consulta_medicamento.pk }}" name="medicamento_{{ consulta_medicamento.pk }}" class="form-control">
                      <option value="">Seleccione un medicamento</option>
                      {% for medicamento in medicamentos %}
                      <option value="{{ medicamento.pk }}" {% if consulta_medicamento.medicamento.pk == medicamento.pk %} selected {% endif %}>{{ medicamento }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="cantidad_medicamento_{{ consulta_medicamento.pk }}">Cantidad Utilizada:</label>
                    <input id="cantidad_medicamento_{{ consulta_medicamento.pk }}" name="cantidad_medicamento_{{ consulta_medicamento.pk }}" class="form-control" type="number" min="1" value="{{ consulta_medicamento.cantidad_utilizada }}" />
                  </div>
                  <div class="form-group mb-3">
                    <a href="{% url 'moduloGestionConsultas:eliminar_medicamento' medicamento_id=consulta_medicamento.pk %}" class="btn btn-danger btn-sm">Eliminar Medicamento</a>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button type="button" class="btn btn-success" id="agregar-medicamento">Agregar Medicamento</button>
            </div>
            <div class="card">
              <div class="card-header">Vacunas Utilizadas</div>
              <div class="card-body" id="vacunas-section">
                {% for consulta_vacuna in consulta.consultavacuna_set.all %}
                <div class="vacuna-group">
                  <div class="form-group mb-3">
                    <label for="vacuna_{{ consulta_vacuna.pk }}">Vacuna:</label>
                    <select id="vacuna_{{ consulta_vacuna.pk }}" name="vacuna_{{ consulta_vacuna.pk }}" class="form-control">
                      <option value="">Seleccione una vacuna</option>
                      {% for vacuna in vacunas %}
                      <option value="{{ vacuna.pk }}" {% if consulta_vacuna.vacuna.pk == vacuna.pk %} selected {% endif %}>{{ vacuna }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="cantidad_vacuna_{{ consulta_vacuna.pk }}">Cantidad Utilizada:</label>
                    <input id="cantidad_vacuna_{{ consulta_vacuna.pk }}" name="cantidad_vacuna_{{ consulta_vacuna.pk }}" class="form-control" type="number" min="1" value="{{ consulta_vacuna.cantidad_utilizada }}" />
                  </div>
                  <div class="form-group mb-3">
                    <a href="{% url 'moduloGestionConsultas:eliminar_vacuna' vacuna_id=consulta_vacuna.pk %}" class="btn btn-danger btn-sm">Eliminar Vacuna</a>
                  </div>
                </div>
                {% endfor %}
              </div>
              <button type="button" class="btn btn-success" id="agregar-vacuna">Agregar Vacuna</button>
            </div>
          </div>
        </div>
        <div class="text-center mt-3">
          <a href="{% url 'moduloGestionConsultas:lista_consultas' %}" class="btn btn-secondary btn-sm">Cancelar</a>
          <button type="submit" class="btn btn-primary btn-sm">Guardar Consulta</button>
        </div>
      </form>
    </div>
  </div>
</div>
<br />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    var contadorMedicamentos = {{ consulta.consultamedicamento_set.all|length }};
    $('#agregar-medicamento').click(function() {
      contadorMedicamentos++;
      var nuevoMedicamento = `
      <div class="medicamento-group">
        <!-- Campos para medicamentos -->
        <div class="form-group mb-3">
          <label for="medicamentos">Medicamento:</label>
          <select class="form-control" name="medicamentos">
            <option value="">Seleccione un medicamento</option>
            {% for medicamento in medicamentos %}
              <option value="{{ medicamento.pk }}">{{ medicamento }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="cantidad_utilizada">Cantidad Utilizada:</label>
          <input type="number" name="cantidad_utilizada" class="form-control" />
        </div>
      </div>
      `;
      $('#medicamentos-section').append(nuevoMedicamento);
    });

    var contadorVacunas = {{ consulta.consultavacuna_set.all|length }};
    $('#agregar-vacuna').click(function() {
      contadorVacunas++;
      var nuevaVacuna = `
      <div class="vacuna-group">
        <!-- Campos para vacunas -->
        <div class="form-group mb-3">
          <label for="vacunas">Vacuna:</label>
          <select class="form-control" name="vacunas">
            <option value="">Seleccione una vacuna</option>
            {% for vacuna in vacunas %}
              <option value="{{ vacuna.pk }}">{{ vacuna }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group mb-3">
          <label for="cantidad_utilizada_vacuna">Cantidad Utilizada:</label>
          <input type="number" name="cantidad_utilizada_vacuna" class="form-control" />
        </div>
      </div>
      `;
      $('#vacunas-section').append(nuevaVacuna);
    });
  });
</script>
{% endblock %}
