{% extends "inicio/base2.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Agregar servicio</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <label for="form_name">Nombre del servicio *</label>
          <input
            id="form_name"
            type="text"
            name="nombre"
            class="form-control"
            placeholder=""
            required="required"
            data-error="El nombre es requerido."
          />
        </div>
        <div class="form-group">
          <label for="form_message">Descripción del servicio *</label>
          <textarea
            id="form_message"
            name="descripcion"
            class="form-control"
            placeholder="Escribe la descripcion aqui."
            rows="4"
            required="required"
            data-error=""
          ></textarea>
        </div>
        <div class="form-group">
          <label for="form_message">Precio *</label>
          <input
            type="number"
            id="form_number"
            step="any"
            min="0.01"
            name="precio"
            class="form-control"
            placeholder="Precio del servicio"
            required
          />
        </div>
        <br />
        <div class="text-center">
          <a
            href="/gestion-servicios/ver-servicios"
            class="btn btn-secondary btn-sm"
            >Cancelar</a
          >
          <input
            type="submit"
            method="POST"
            class="btn btn-primary btn-sm"
            value="Guardar"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
