{% extends "inicio/base2.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="text-center">
        <h1>Agregar servicio</h1>
      </div>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Nombre del Servicio:</h6></span
          >
          <input
            type="text"
            value="{{servicio.nombreServicio}}"
            class="form-control"
            name="nombre"
            required
          />
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Descripción:</h6></span
          >
          <textarea class="form-control" rows="4" name="descripcion" required>
 {{servicio.descripcion}} </textarea
          >
        </div>
        <br />
        <div class="m-1">
          <span class="badge rounded-pill bg-light text-dark"
            ><h6>Precio:</h6></span
          >
          <input
            type="number"
            id="form-number"
            step="any"
            min="0.01"
            value="{{servicio.precio}}"
            class="form-control"
            name="precio"
            required
          />
        </div>
        <br />
        <div class="text-center">
          <a href="/gestion-servicios/ver-servicios" class="btn btn-secondary btn-sm"
            >Cancelar</a
          >
          <input
            type="submit"
            method="POST"
            class="btn btn-primary btn-sm"
            value="Guardar"
          />
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}
