{% extends "inicio/base2.html" %} {% block content %}
<div class="d-flex justify-content-between align-items-center">
  <h1>{{ servicio.nombreServicio }}</h1>
  <a href="/gestion-servicios/ver-servicios" class="btn btn-secondary btn-sm"
    >Volver a la lista de servicios</a
  >
</div>
<hr />
<div class="row">
  <div class="col-md-6">
    <img
      src="{{ servicio.imagen.url }}"
      class="img-thumbnail"
      style="max-width: 300px"
    />
  </div>
  <div class="col-md-6">
    <div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"
          ><h6>Nombre del servicio:</h6></span
        >
        <label><b>{{ servicio.nombreServicio }}</b></label
        ><br />
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"
          ><h6>Descripción:</h6></span
        >
        <textarea type="text" id="desc" class="form-control" readonly>
{{ servicio.descripcion }}</textarea
        >
      </div>
      <div class="m-1">
        <span class="badge rounded-pill bg-light text-dark"
          ><h6>Precio:</h6></span
        >
        <label><b>${{ servicio.precio }}</b></label>
      </div>
      <a
        href="/gestion-servicios/editar-servicio/{{ servicio.id }}"
        class="btn btn-warning btn-sm"
        >Editar</a
      >
    </div>
  </div>
</div>
{% endblock %}
