
{% extends "inicio/base.html" %}

{% block content %}


<body class="text-center">
  <main class="flex-shrink-0">
    <div class="container"> <img align="right" src="" alt="imgs" width="250" height="180" >
      <br>
      <h1 class="mt-5">Sistema de control de expedientes y gestion de clínicas veterinarias </h1> 
      {% if user.is_authenticated %}
    <p>Bienvenido, {{ user.get_username }}, eres: {{ user.role }}</p>
     {% else %}
    <p>Bienvenido, inicie sesion</p>
    {% endif %}
    </div>
  </main> 
  <main>
    {% if user.is_authenticated %}
    {% else %}
    <div class="container py-4">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Inicio de sesion </h1>
          <p class="col-md-8 fs-4">Para poder entrar al sistema </p>
          <button class="btn btn-primary btn-lg" type="button" onclick="window.location='cuentas/login';">Login</button>
        </div>
      </div>
      {% endif %}
      {% if user.is_authenticated %}
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Entrar al sistema</h1>
          <p class="col-md-8 fs-4">Mirar todos los datos </p>
          <button class="btn btn-primary btn-lg" type="button" onclick="window.location='';">Iniciar</button>
        </div>
      </div>
      {% else %}
      {% endif %}
    </main>
    
</body>


  



{% endblock %}


