{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb-4">
          <h1>Crear expediente</h1>
        </div>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-header">
                  Datos del Paciente
                </div>
                <div class="card-body">
                  <div class="form-group mb-3">
                    <label for="{{ form.nombre_paciente.id_for_label }}">Nombre:</label>
                    {{ form.nombre_paciente }}
                    {% if form.nombre_paciente.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.nombre_paciente.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.especie.id_for_label }}">Especie:</label>
                    {{ form.especie }}
                    {% if form.especie.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.especie.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.raza.id_for_label }}">Raza:</label>
                    {{ form.raza }}
                    {% if form.raza.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.raza.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="fecha_nacimiento">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" data-provide="datepicker" value="{{ form.fecha_nacimiento.value }}" max="{{ fecha_maxima_m }}">
                    {% if form.fecha_nacimiento.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.fecha_nacimiento.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.peso.id_for_label }}">Peso:</label>
                    {{ form.peso }}
                    {% if form.peso.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.peso.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.sexo.id_for_label }}">Sexo:</label>
                    {{ form.sexo }}
                    {% if form.sexo.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.sexo.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.color.id_for_label }}">Color:</label>
                    {{ form.color }}
                    {% if form.color.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.color.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.imagen_paciente.id_for_label }}">Imagen:</label>
                    <div class="custom-file">
                      <input type="file" name="{{ form.imagen_paciente.name }}" id="{{ form.imagen_paciente.id_for_label }}" class="form-control" onchange="cargarVistaPrevia(event)" />
                      <label class="form-label" for="{{ form.imagen_paciente.id_for_label }}"></label>
                    </div>
                    {% if form.imagen_paciente.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.imagen_paciente.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                    {% if form.imagen_paciente.value %}
                      <img src="{{ form.imagen_paciente.value.url }}" class="img-fluid mt-3" alt="{{ form.imagen_paciente.label }}" style="max-width: 100px" id="vista-previa" />
                    {% else %}
                      <img src="#" class="img-fluid mt-3" alt="Vista previa de la imagen" style="max-width: 100px" id="vista-previa" />
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card mb-3">
                <div class="card-body">
                  <div class="form-group mb-3">
                    <label for="{{ form.persona_que_registro.id_for_label }}">Persona que registro el expediente:</label>
                    {{ form.persona_que_registro }}
                    {% if form.persona_que_registro.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.persona_que_registro.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card mb-3">
                <div class="card-header">
                  Datos del Propietario
                </div>
                <div class="card-body">
                  <div class="form-group mb-3">
                    <label for="{{ form.nombre_dueño.id_for_label }}">Nombre:</label>
                    {{ form.nombre_dueño }}
                    {% if form.nombre_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.nombre_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.apellido_dueño.id_for_label }}">Apellido:</label>
                    {{ form.apellido_dueño }}
                    {% if form.apellido_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.apellido_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.dui.id_for_label }}">DUI:</label>
                    {{ form.dui }}
                    {% if form.dui.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.dui.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="fecha_nacimiento_dueño">Fecha de nacimiento:</label>
                    <input type="date" class="form-control" id="fecha_nacimiento_dueño" name="fecha_nacimiento_dueño" data-provide="datepicker" value="{{ form.fecha_nacimiento_dueño.value }}" max="{{ fecha_maxima_d }}">
                    {% if form.fecha_nacimiento_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.fecha_nacimiento_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.direccion_dueño.id_for_label }}">Dirección:</label>
                    {{ form.direccion_dueño }}
                    {% if form.direccion_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.direccion_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.departamento_dueño.id_for_label }}">Departamento:</label>
                    <select id="id_departamento_dueño" name="departamento_dueño" class="form-control">
                        <option value="">Seleccione un departamento</option>
                        {% for departamento in departamentos %}
                            <option value="{{ departamento.id }}">{{ departamento.nombre }}</option>
                        {% endfor %}
                    </select>
                  </div>
                  <div class="form-group mb-3">
                      <label for="{{ form.municipio_dueño.id_for_label }}">Municipio:</label>
                      <select id="id_municipio_dueño" name="municipio_dueño" class="form-control">
                          <option value="">Seleccione un municipio</option>
                          {% for municipio in municipios %}
                              <option value="{{ municipio.id }}" data-departamento="{{ municipio.departamento.id }}">{{ municipio.nombre }}</option>
                          {% endfor %}
                      </select>
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.numero_telefono_dueño.id_for_label }}">N° de teléfono del dueño:</label>
                    {{ form.numero_telefono_dueño }}
                    {% if form.numero_telefono_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.numero_telefono_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                  <div class="form-group mb-3">
                    <label for="{{ form.correo_electronico_dueño.id_for_label }}">Correo electrónico del dueño:</label>
                    {{ form.correo_electronico_dueño }}
                    {% if form.correo_electronico_dueño.errors %}
                      <div class="alert alert-danger">
                        {% for error in form.correo_electronico_dueño.errors %}
                          {{ error }}
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-3">
            <a href="{% url 'moduloGestionExpedientes:lista_expedientes' %}" class="btn btn-secondary btn-sm">Cancelar</a>
            <button type="submit" class="btn btn-primary btn-sm">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <br>
  <script>
    function cargarVistaPrevia(event) {
      var input = event.target
      var vistaPrevia = document.getElementById('vista-previa')
      var lector = new FileReader()
      lector.onload = function () {
        vistaPrevia.src = lector.result
      }
      lector.readAsDataURL(input.files[0])
      vistaPrevia.style.display = 'block'
    }
    
    var inputImagen = document.querySelector('input[name="imagen_paciente"]')
    var vistaPrevia = document.getElementById('vista-previa')
    if (inputImagen && vistaPrevia) {
      vistaPrevia.style.display = 'none'
      inputImagen.addEventListener('change', cargarVistaPrevia)
    }
  </script>
  <!-- JavaScript para cargar municipios dinámicamente -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    // Al cargar la página, asegúrate de que se muestre el departamento y municipio seleccionados
    var selectedDepartamento = "{{ form.departamento_dueño.value }}";
    var selectedMunicipio = "{{ form.municipio_dueño.value }}";
    $('#id_departamento_dueño').val(selectedDepartamento);

    // Función para actualizar la lista de municipios según el departamento seleccionado
    function actualizarMunicipios(selectedDepartamento) {
        $('#id_municipio_dueño option').each(function() {
            var municipioDepartamento = $(this).data('departamento');
            if (selectedDepartamento === '' || selectedDepartamento == municipioDepartamento) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }

    // Asigna el evento change al campo "Departamento"
    $('#id_departamento_dueño').change(function() {
        var selectedDepartamento = $(this).val();
        actualizarMunicipios(selectedDepartamento);
    });

    // Asegúrate de que el valor del municipio se mantenga al cargar la página
    $('#id_municipio_dueño').val(selectedMunicipio);

    // Actualiza la lista de municipios al cargar la página
    actualizarMunicipios(selectedDepartamento);
</script>
{% endblock %}
