{% extends 'inicio/base2.html' %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>{{ expediente.nombre_paciente }}</h1>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{% url 'moduloGestionExpedientes:editar_expediente' expediente.pk %}" class="btn btn-warning btn-sm">Editar expediente</a>
      <a href="{% url 'moduloGestionExpedientes:lista_expedientes' %}" class="btn btn-secondary btn-sm">Volver a la lista de expedientes</a>
    </div>
  </div>

  <hr />
  <div class="card mt-4">
    <div class="card-body text-center">
      <div class="row">
        <div class="col-md-4">
          <strong>Fecha de registro:</strong> {{ expediente.fecha_registro }}
        </div>
        <div class="col-md-4">
          <strong>Última actualización:</strong> {{ expediente.ultima_actualizacion }}
        </div>
        <div class="col-md-4">
          <strong>Persona que registro:</strong> {{ expediente.persona_que_registro }}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-header">Datos del Paciente</div>
        <div class="card-body">
          <div class="row">
            <!-- Imagen de la Mascota (a la izquierda) -->
            <div class="col-md-5 mb-3">
              <img src="{{ expediente.imagen_paciente.url }}" alt="Imagen de la Mascota" class="img-thumbnail" style="max-width: 190px" />
            </div>
            <!-- Información de la Mascota (a la derecha) -->
            <div class="col-md-7">
              <!-- Otras informaciones de la mascota... -->
              <p>
                <strong>Nombre:</strong> {{ expediente.nombre_paciente }}
              </p>
              <p>
                <strong>Especie:</strong> {{ expediente.especie }}
              </p>
              <p>
                <strong>Raza:</strong> {{ expediente.raza }}
              </p>
              <p>
                <strong>Fecha de Nacimiento:</strong> {{ expediente.fecha_nacimiento }}
              </p>
              <p>
                <strong>Peso:</strong> {{ expediente.peso }} kg
              </p>
              <p>
                <strong>Sexo:</strong> {{ expediente.sexo }}
              </p>
              <p>
                <strong>Color:</strong> {{ expediente.color }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Datos del Propietario</div>
        <div class="card-body">
            <p><strong>Nombre:</strong> {{ expediente.nombre_dueño }}</p>
            <p><strong>Apellido:</strong> {{ expediente.apellido_dueño }}</p>
            <p><strong>DUI:</strong> {{ expediente.dui }}</p>
            <p><strong>Fecha de Nacimiento:</strong> {{ expediente.fecha_nacimiento_dueño }}</p>
            <p><strong>Edad:</strong> {{ expediente.edad_dueño }} años</p>
            <p><strong>Dirección:</strong> {{ expediente.direccion_dueño }}</p>
            <p><strong>Departamento:</strong> {{ expediente.departamento_dueño }}</p>
            <p><strong>Municipio:</strong> {{ expediente.municipio_dueño }}</p>
            <p><strong>Teléfono:</strong> {{ expediente.numero_telefono_dueño }}</p>
            <p><strong>Correo Electrónico:</strong> {{ expediente.correo_electronico_dueño }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <!-- Consultas Anteriores -->
      <div class="card mb-4">
        <div class="card-header">Consultas Anteriores</div>
        <div class="card-body">
          <ul class="list-unstyled">
            {% if consultas_anteriores %}
            {% for consulta in consultas_anteriores %}
              <li>
                <div class="card mb-4">
                  <div class="card-body">
                    <strong>Fecha:</strong> {{ consulta.fecha }}
                    <br />
                    <strong>Tipo de Consulta:</strong> {{ consulta.tipo_consulta }}
                    {% if  consulta.medicamentos.all %}
                    <hr />
                    <h5>Medicamentos Recetados:</h5>
                    <ul>
                      {% for medicamento in consulta.medicamentos.all %}
                        <li>
                          {{ medicamento.nombre }}
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% if  consulta.vacunas.all %}
                    <hr />
                    <h5>Vacunas Aplicadas:</h5>
                    <ul>
                      {% for vacuna in consulta.vacunas.all %}
                        <li>
                          {{ vacuna.nombre }}
                        </li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    <br />
                    <a href="{% url 'moduloGestionConsultas:detalle_consulta' consulta.pk %}" class="btn btn-primary btn-sm">Detalles</a>
                  </div>
                </div>
              </li>
              <div class="divider"></div>
            {% endfor %}
            {% else %}
              <p>No hay consultas anteriores.</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <!-- Formulario de Nueva Consulta Médica -->
    <div class="col-md-6">
      <!-- Citas Pendientes -->
      <div class="card">
        <div class="card-header">Citas Pendientes</div>
        <div class="card-body">
          <ul class="list-unstyled">
            {% if citas_pendientes %}
            {% for cita in citas_pendientes %}
              <li>
                <div class="card mb-4">
                  <div class="card-body">
                    <strong>Fecha de la Cita:</strong> {{ cita.fecha }}
                    <br />
                    <strong>Hora de la Cita:</strong> {{ cita.hora }}
                    <br />
                    <strong>Motivo de la Cita:</strong> {{ cita.motivo }}
                    <br />
                    <strong>Notas:</strong> {{ cita.notas }}
                    <a href="{% url 'nombre_de_la_vista_de_detalles_de_cita' cita.pk %}" class="btn btn-primary btn-sm">Detalles</a>
                  </div>
                </div>
              </li>
              <div class="divider"></div>
            {% endfor %}
            {% else %}
              <p>No hay citas pendientes.</p>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br />
  <!-- Agregar enlaces a los archivos JavaScript de Bootstrap (jQuery y Popper.js) y Bootstrap.js -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
